@import './variables.scss';

.btn {
    border: none;
    padding: .625rem 1.25rem;
    border-radius: 1rem;
    font-size: .75rem;
    color: $ColorLight;
}

.btn-secondary {
    background-color: $ColorSecondary;
}

.btn-dark {
    background-color: $ColorPrimary;
    box-shadow: 0px 0px 0px 2px #2c2a35;
}

.btn-red {
    background-color: $ColorTerzary;
}